@page
@model SutureHealth.AspNetCore.Areas.Admin.Pages.DashboardModel

@section Styles {
<style type="text/css">
    .dashboard-tile {
        padding: 10px;
        border: 1px solid #2aadfa;
        border-radius: 10px;
        margin-top: 30px;
        display: inline-block;
        width: 100%;
        background: #2aadfa;
        color: #fff;
    }

    .card {
        transition: all 1s ease-in-out;
    }

        .card:hover {
            background-color: #f9f9f9;
        }

</style>
}

<section class="mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 style="font-weight: bold;">
                    Dashboard
                </h2>
                <hr />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            @foreach (var tile in Model.Tiles)
            {
                <div class="col-6 col-md-4 my-2">
                    <div class="card shadow-sm" style="border-left: 8px solid #2483eb">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title" style="font-weight: bold">@tile.Name</h5>
                                    <p class="card-text small">@tile.Description</p>
                                    <a href="@tile.Url" class="btn btn-primary">Edit @tile.Name</a>
                                </div>
                                @if (tile.Count.HasValue)
                                {
                                    <div class="col-3 align-self-center">
                                        <h1 class="text-center text-warning" style="font-weight: bold"> @tile.Count.Value</h1>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

