@model SutureHealth.AspNetCore.Areas.Admin.Models.Review.PatientMatchModel
@{
    Model.RequireUI = true;
    Model.RequireKendo = true;
    Model.RequiresLoading = true;
}
@section Styles
    {
    <link rel="stylesheet" href="~/css/AdminStyle.min.css" asp-append-version="true" />
}
<style type="text/css">

    .selected {
        border: 5px solid #00B3B3;
    }

    .selectedPatientMatch {
        background-color: #00B3B3 !important;
        color: #FFFFFF !important;
    }

    .notMatching {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .notMatchingIdentifier {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        font-weight: bold;
    }

    .matching {
        background-color: #CAF7AD !important;
    }

    .highlight-text {
        color: #42b3f5
    }

    .highlight-updated-text {
        color: #33918e
    }
</style>

<section class="mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h2 style="font-weight: bold;">
                            Patient Match Details
                        </h2>
                    </div>

                </div>
                <hr class="mt-0" />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 shadow mb-5 p-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="mb-0"><strong>Submitted Date:</strong> <span class="small">@Model.SubmittedDate</span> </p>
                        <p class="mb-0"><strong>Submitting Facility:</strong> <span class="small"> @Model.SendingOrg.Name</span><br />
                        <p class="mb-0"><strong>Submitting User:</strong> <span class="small"> @Model.SendingMemberName</span><br />
                        <p class="mb-0"><strong>Submitting Source:</strong> <span class="small"> @Model.Source</span><br />
                            <Strong>Phone: </Strong><span class="small">@Model.SendingOrg.Phone</span> </p>

                    </div>
                    <div class="col-md-4">
                        <p class="mb-0"><strong>Patient:</strong> <span class="small">@Model.Patient.FirstName @Model.Patient.LastName</span> </p>
                    </div>
                </div>
                <hr class="mt-0" />
                <div class="row">
                    <div>
                        <p class="mb-0">
                        <p class="mb-0">
                            <strong>Legend:&emsp;</strong>
                            <strong style="color:#0C882A"> Match >= 75 </strong><span class="small" style="color:#999999">(raw score >= 100)&emsp;</span>
                            <strong style="color:#C82613"> High Risk Duplicate: 50 - 74 </strong><span style="color:#999999">(raw score = 57-99)&emsp;</span>
                            <strong style="color:#DE6A19"> Low Risk Duplicate: 25 - 49 </strong><span style="color:#999999">(raw score = 1-56)&emsp;</span>
                            <strong style="color:#0C64C0"> Non-Match <= 24 </strong><span style="color:#999999">(raw score <= 0)</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 border p-3">
                <div class="row">
                    <div>
                        <div id="alert-message" class="alert alert-danger customAlerts" style="display:none;width:90% !important" role="alert">
                            <div class="row">
                                <div class="col-md-10" id="patientActionErrorMessage">
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="false">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4" style="margin-top: 3.1rem;" data-patient-section="submitted">

                        <partial name="_SubmittedPatientTable" model="Model.Patient" id="submitted-patient-table" />

                    </div>
                    <div class="col-7">
                        <div class="row">
                            @for (int i = 0; i < Model.PatientMatches.Count(); i++)
                            {
                                <div class="col-4" id="@(i)">
                                    <partial name="_PatientMatchTables" model="Model.PatientMatches[i]" id="patient-match-table-@(i)" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-4 d-flex">
                    <div class="row ">
                        <div class="col-4 ml-auto"><button type="button" class="btn btn-secondary btn-block mr-auto" onclick="location.href='@Url.RouteUrl("AdminReviewIndex")'">Cancel</button></div>
                        <div class="col-4">
                            <button type="button" id="patientCreateBtn" onclick="CreatePatientModal()" class="btn btn-primary btn-block"
                            @foreach (var patient in Model.PatientMatches)
                            {
                                if ((patient.IsSSNMatch && !patient.SSN.IsNullOrEmpty()) ||
                                (patient.IsMedicareMBIMatch && !patient.MedicareMBI.IsNullOrEmpty()) ||
                                (patient.IsMedicaidNumberMatch && !patient.MedicaidNumber.IsNullOrEmpty()) &&
                                (patient.IsMedicaidStateMatch))
                                {
                                    @Html.Raw("disabled")
                                    ;
                                    break;
                                }
                            }>
                                Create
                            </button>
                        </div>
                        <div class="col-4"><button id="patientMergeBtn" type="button" class="btn btn-info btn-block ml-2" onclick="MergePatientModal()" disabled>Merge</button></div>
                    </div>
                </div>
            </div>
            <partial name="_CreatePatientModal" model="Model.Patient" />
            <partial name="_MergePatientModal" model="Model.Patient" />
        </div>
    </div>
</section>

<script type="text/javascript">
    (function () {
    
        window.OnAutoResolve = function(e) {
                                          
            document.location = '@Url.RouteUrl("AdminReviewIndex")';
        }

    })();

    $(document).ready(function () {
        $("#default-loading-panel").hide();
    @if (Model.IsAutoMerge)
    {
        @:$("#AutoMergeDialog").data("kendoDialog").open();
    }
    @if (Model.IsAutoCreate)
    {
        @:$("#AutoCreateDialog").data("kendoDialog").open();
    }
    });

    function extractFacilityDetails(inputString) {
        const parts = inputString.split('(').map(part => part.trim().replace(')', ''));
        const facilityName = parts[0].trim();
        let identifier = "";
        if (parts.length > 1) {
            identifier = parts[1].split(',')[0].trim();
        }
        return [facilityName, identifier];
    }
    function UpdateDocumentSelection(select) {
        var matchIndex = select.getAttribute('matchindex');
        var downloadLinkId = '#downloadLinkForItem_' + matchIndex;
        var downloadLink = $(downloadLinkId);
        var documentName = select.value;
        if (documentName) {
            var downloadUrl = '@Url.RouteUrl("AdminReviewDownloadFile",new {fileName = "_filename_"})'.replace('_filename_',documentName);
            downloadLink.attr('href', downloadUrl);
            downloadLink.show();
        } else {
            downloadLink.hide();
        }
    
    }
    function DownloadDocument(element) {

        // Disable the download button
        $('#selectedFileName').prop('disabled', true);
        $(element).prop('disabled', true);
        $(element).addClass('disabled-button');
        $(element).removeClass('btn-primary');
        var downloadUrl = $(element).attr('href');
        // Perform the AJAX request
        $.ajax({
            url: downloadUrl,
            method: 'GET',
            success: function () {               
                $('#selectedFileName').prop('disabled', false);
                $(element).prop('disabled', false);
                $(element).removeClass('disabled-button');
                $(element).addClass('btn-primary');
            },
            error: function () {                
                alert('Download failed!');                
                $(element).prop('disabled', false);
            }
        });
    }

    function SelectPatientOption(identifier) {
        var anySelected = document.getElementsByClassName("selected");
        var selected = Array.from(anySelected);
        if (selected.length != 0)
            var id = selected[0].getAttribute("id");
        if (id == identifier) {
            selected.splice(0, 1);
        }
        if (selected.length > 0) {
            $("#" + id).removeClass("selected");
            $.each($("#" + id + " .toBeHighlighted"), function (number, element) {
                element.style.backgroundColor = "white";
            })
            $("#patientMatchScore" + id).removeClass("selectedPatientMatch");
            $("#" + identifier).toggleClass("selected");
            $("#patientMatchScore" + identifier).toggleClass("selectedPatientMatch");
            HighlightSameData(identifier);
        }
        else {
            $("#" + identifier).toggleClass("selected");
            $("#patientMatchScore" + identifier).toggleClass("selectedPatientMatch");
            HighlightSameData(identifier);
        }

        EnableOrDisableButton();
    }

    function EnableOrDisableButton() {
        var any = document.getElementsByClassName("selected");
        var selected = Array.from(any);
        if (selected.length != 0) {
            $("#patientMergeBtn").attr("disabled", false);
        }
        else {
            $("#patientMergeBtn").attr("disabled", true);
        }
    }

    function HighlightSameData(identifier) {
        var matchingData = $("#" + identifier + " .toBeHighlighted").toArray();
        $.each(matchingData, function (number, element) {
            if (element.style.backgroundColor == "#CAF7AD" || element.style.backgroundColor == "rgb(202, 247, 173)") {
                element.style.backgroundColor = "white";
            }
            else {
                element.style.backgroundColor = "#CAF7AD"
            }
        });
    }
    function CloseCreateNewPatientModal() {
        $("#createNewPatientModal").modal('hide');
    }

    function CreatePatientModal() {
        $("#createNewPatientModal").modal('show');
    }

    function ClosePatientModal() {
        $("#matchPatientModal").modal('hide');
    }
    function CloseMergePatientModal() {
        $("#mergePatientModal").modal('hide');
    }

    function MergePatientModal() {

        var selectedTableHtml = document.getElementsByClassName('selected')[0].getElementsByClassName('table')[0].innerHTML;
        var selectedTableElements = $.parseHTML(selectedTableHtml);
        var selectedTableBody = $(selectedTableElements[3]); // extract table from array
        var targetTable = document.getElementById('mergeConfirmTable');

        // Check if the targetTable exists
        if (targetTable) {
            // Get all rows inside the targetTable
            var rows = targetTable.getElementsByTagName('tr');

            // Loop through each row and remove the hidden attribute
            for (var i = 0; i < rows.length; i++) {
                rows[i].removeAttribute('hidden');
            }
        }

        selectedTableBody.find('tr').each(function (rowIndex, row) {

            // rowIndex 19 is flags
            if (rowIndex === 19 && ($(row).hasClass('notMatching'))) {
                var targetSelfPayChk = $(targetTable.rows[rowIndex]).find('input[type="checkbox"][name="targetPatientSelfPayChk"]');
                var checkbox = row.querySelector('input[type="checkbox"][name="patientSelfPayChk"]');
                var checkboxChecked = checkbox ? checkbox.checked : false;
                targetSelfPayChk[0].checked = checkboxChecked;

                var targetInsuranceChk = $(targetTable.rows[rowIndex]).find('input[type="checkbox"][name="targetPatientPrivateInsuranceChk"]');
                checkbox = row.querySelector('input[type="checkbox"][name="patientPrivateInsuranceChk"]');
                checkboxChecked = checkbox ? checkbox.checked : false;
                targetInsuranceChk[0].checked = checkboxChecked;
            }
            else {
                // organization is removed so row Index 15 is always hidden
                if (!($(row).hasClass('notMatching') || $(row).hasClass('notMatchingIdentifier')) || rowIndex == 15) {
                    $(targetTable.rows[rowIndex]).attr('hidden', true);
                }
                var secondRadioButton = $(targetTable.rows[rowIndex]).find('input[type="radio"]:eq(1)');
                var spanElement = secondRadioButton.next('span');
                var secondRadioButtonText = $(row).find('td').text();
                // rows 11,12,13,14 are phones. the primary string should be removed.
                if (rowIndex === 11 || rowIndex === 12 || rowIndex === 13 || rowIndex === 14) {
                    var firstSpaceIndex = secondRadioButtonText.indexOf("(");
                    var substring = secondRadioButtonText.substring(0, firstSpaceIndex);
                    secondRadioButtonText = substring.trim();
                }
                spanElement.text(secondRadioButtonText);
            }

        });
        $("#mergePatientModal").modal('show');
    }

    function CreateNewPatient() {
        $.ajax({
            "type": "POST",
            "url": '@Url.RouteUrl("AdminReviewCreatePatient", new { requestId = Model.RequestId })',
            "success": function (data) {
                if (data.success == false) {
                    $('#createNewPatientModal').modal('hide');
                    $('#patientActionErrorMessage').html(data.responseText);
                    $('#alert-message').show();
                    setTimeout(function () {
                        $('#alert-message').fadeOut('slow');
                    }, 5000);
                    window.scrollTo(0, 0);
                }
                else {
                    $('#createNewPatientModal').modal('hide');
                    document.location = '@Url.RouteUrl("AdminReviewIndex")';
                }
            },
            "error": function (data) {

            }
        });
    }

    function MergePatient() {

        var selectedId = parseInt(document.getElementsByClassName("selected")[0].getAttribute("id"));
        var patientList = [];
        var optionsList = [];
        var mergeRequest = {};

    @foreach (var d in Model.PatientMatches)
    {
        @:patientList.push("@d.PatientId");
    }

        var patient = patientList[selectedId];
        mergeRequest["SelectedPatientId"] = patient;
        var mergeTable = document.getElementById('mergeConfirmTable').getElementsByTagName('tbody')[0];
        var rows = mergeTable.rows;

        // check ssn4 overrides ssn
        var ssnRow = rows[16];
        var selectedSSN = null;
        var notSelectedSSN = null;
        if (ssnRow.getAttribute('hidden') === null ) {
            var ssnRadioButtons = ssnRow.querySelectorAll('input[type="radio"]');
            var ssnSpans = ssnRow.getElementsByTagName('span');
            if (ssnRadioButtons[0].checked){
                selectedSSN = ssnSpans[0].innerText.trim();
                notSelectedSSN = ssnSpans[1].innerText.trim();
            }
            else
            {
                selectedSSN = ssnSpans[1].innerText.trim();
                notSelectedSSN = ssnSpans[0].innerText.trim();
            }
            if (selectedSSN.length < notSelectedSSN.length) {
                if (!confirm("Warning: Submitting this request will either replace the existing SSN with the new SSN4 or remove an existing SSN4.")) {
                    return;
                }
                mergeRequest['IsSSNDownCasted'] = "True";
            }
            
        }       
        $("#default-loading-panel").css(
            {
                "display": "flex",
                "align-items": "center",
                "justify-content": "center",
                "width": "100%",
                "height": "100%",
                "position": "fixed",
                "top": "0",
                "left": "0",
                "z-index": "1000032"
            }).show();

        for (var rowIndex = 0; (rowIndex < rows.length); rowIndex++) {

            var row = rows[rowIndex];

            if (row.getAttribute('hidden') === null) {
                var name = row.getAttribute('name');
                var radioButtons = row.querySelectorAll('input[type="radio"]');
                var spans = row.getElementsByTagName('span');
                var selectedRadioButton;
                var selectedRadioButtonText;
                var notSelectedRadioButtonText;

                for (var j = 0; j < radioButtons.length; j++) {

                    if (radioButtons[j].checked) {

                        if (rowIndex === 19) {
                            var selfPay;
                            var privateInsurance;

                            if (j === 0) {
                                var e = row.querySelector('input[type="checkbox"][name="selfPayChk"]');
                                selfPay = e.checked;
                            }
                            else {
                                var e = row.querySelector('input[type="checkbox"][name="targetPatientSelfPayChk"]');
                                selfPay = e.checked;
                            }
                            mergeRequest["IsSelfPaid"] = selfPay;
                            if (j === 0) {
                                var e = row.querySelector('input[type="checkbox"][name="privateInsuranceChk"]');
                                privateInsurance = e.checked;
                            }
                            else {
                                var e = row.querySelector('input[type="checkbox"][name="targetPatientPrivateInsuranceChk"]');
                                privateInsurance = e.checked;
                            }
                            mergeRequest["IsPrivateInsuranceAvailable"] = privateInsurance;


                        }
                        selectedRadioButton = radioButtons[j];
                        selectedRadioButtonText = spans[j].textContent.trim();
                        if (rowIndex === 11) {
                            // the first span is checkbox, the next one is phone
                            selectedRadioButtonText = spans[j + 1].textContent.trim();
                            var checkBoxButton = row.querySelectorAll('input[type="checkbox"]');
                            if (!selectedRadioButtonText && $(checkBoxButton).is(':checked')) {
                                // can not set null value as primary phone
                                $(checkBoxButton).prop('checked', false);
                                return;
                            }
                            if ($(checkBoxButton).is(':checked')) {
                                mergeRequest["PrimaryPhone"] = "HomePhone";
                            }
                            mergeRequest["IsHomePhoneMatch"] = false;
                        }
                        if (rowIndex === 12) {
                            // the first span is checkbox, the next one is phone
                            selectedRadioButtonText = spans[j + 1].textContent.trim();
                            var checkBoxButton = row.querySelectorAll('input[type="checkbox"]');
                            if (!selectedRadioButtonText && $(checkBoxButton).is(':checked')) {
                                // can not set null value as primary phone
                                $(checkBoxButton).prop('checked', false);
                                return;
                            }
                            if ($(checkBoxButton).is(':checked')) {
                                mergeRequest["PrimaryPhone"] = "WorkPhone";
                            }
                            mergeRequest["IsWorkPhoneMatch"] = false;
                        }
                        if (rowIndex === 13) {
                            // the first span is checkbox, the next one is phone
                            selectedRadioButtonText = spans[j + 1].textContent.trim();
                            var checkBoxButton = row.querySelectorAll('input[type="checkbox"]');
                            if (!selectedRadioButtonText && $(checkBoxButton).is(':checked')) {
                                // can not set null value as primary phone
                                $(checkBoxButton).prop('checked', false);
                                return;
                            }
                            if ($(checkBoxButton).is(':checked')) {
                                mergeRequest["PrimaryPhone"] = "Mobile";
                            }
                            mergeRequest["IsMobileMatch"] = false;
                        }
                        if (rowIndex === 14) {
                            // the first span is checkbox, the next one is phone
                            selectedRadioButtonText = spans[j + 1].textContent.trim();
                            var checkBoxButton = row.querySelectorAll('input[type="checkbox"]');
                            if (!selectedRadioButtonText && $(checkBoxButton).is(':checked')) {
                                // can not set null value as primary phone
                                $(checkBoxButton).prop('checked', false);
                                return;
                            }
                            if ($(checkBoxButton).is(':checked')) {
                                mergeRequest["PrimaryPhone"] = "OtherPhone";
                            }
                            mergeRequest["IsOtherPhoneMatch"] = false;
                        }
                        
                        if (rowIndex === 17) {

                            mergeRequest[name] = selectedRadioButtonText.substring(0, 11)
                            break;
                        }
                        if (rowIndex === 1) {
                            mergeRequest["IsMiddleNameMatch"] = false;
                        }
                        if (rowIndex === 3) {
                            mergeRequest["IsSuffixMatch"] = false;
                        }
                        if (rowIndex === 5) {
                            mergeRequest["IsLine1Match"] = false;
                        }
                        if (rowIndex === 6) {
                            mergeRequest["IsLine2Match"] = false;
                        }
                        if (rowIndex === 7) {
                            mergeRequest["IsCityMatch"] = false;
                        }
                        mergeRequest[name] = selectedRadioButtonText;
                        break;
                    }
                }
            }
            else {
                var name = row.getAttribute('name');
                mergeRequest[name] = "";
            }
        }

        $.ajax({
            "type": "POST",
            "url": '@Url.RouteUrl("AdminReviewAssociateMerge", new { requestId = Model.RequestId })',
            "contentType": 'application/json',
            "data": JSON.stringify(mergeRequest),
            "success": function (data) {
                $("#default-loading-panel").hide();
                if (data.success == false) {
                    $('#patientActionErrorMessage').html(data.responseText);
                    $('#alert-message').show();
                    setTimeout(function () {
                        $('#alert-message').fadeOut('slow');
                    }, 5000);
                    window.scrollTo(0, 0);
                }
                else {
                    document.location = '@Url.RouteUrl("AdminReviewIndex")';
                }
            },
            "error": function (data) {
                $("#default-loading-panel").show();
            }
        });

    }

    function UpdatePrimaryCheckBox(checkbox) {
        var checkboxes = document.getElementsByName('isPrimary')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>