@model SutureHealth.AspNetCore.Areas.Identity.Models.Member.ChangePasswordModel
<div class="modal" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel">
                    
                </button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class=" mb-3">
                    <label asp-for="OldPassword" class="form-label"></label>
                    <input asp-for="OldPassword" value="@Model.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />

                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class=" mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" value="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />

                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="small text-secondary text-information">
                        Your passwords must:
                    </div>
                    <div class="small text-secondary text-information">
                        <ul>
                            <li id="pwd-restriction-length" data-validation="^.{8,50}$">Be between 8 and 50 characters in length</li>
                            <li id="pwd-restriction-upper" data-validation="[A-Z]+">Contain at least 1 uppercase character</li>
                            <li id="pwd-restriction-lower" data-validation="[a-z]+">Contain at least 1 lowercase character</li>
                            <li id="pwd-restriction-number" data-validation="[0-9]+">Contain at least 1 number (0-9)</li>
                        </ul>
                    </div>
                </div>
                <div class=" mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" value="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="ChangePasswordModalSubmitButton" type="button" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        let locked = false;

        $("#ChangePasswordModal").modal({
            "backdrop": "static"
        });
        $("#ChangePasswordModal").modal("show");

        $("input[name='@Html.NameFor(m => m.Password)']").keyup(function() {
            var password = $(this).val();
            var validations = $("div li[data-validation]");
            validations.each(function() {
                var regex = new RegExp($(this).data("validation"));
                if (regex.test(password))
                    $(this).addClass('pwd-restriction-checked');
                else
                    $(this).removeClass('pwd-restriction-checked');
            });
        });

        $("#ChangePasswordModalSubmitButton").click(function () {
            let currentModal = $("#ChangePasswordModal");

            locked = true;
            $("input,button", "#ChangePasswordModal").attr("disabled", "disabled");
            $("#GlobalModalContainer").load("@Url.RouteUrl("MemberChangePassword")", {
                "OldPassword": $("input[name='@Html.NameFor(m => m.OldPassword)']", "#ChangePasswordModal").val(),
                "Password": $("input[name='@Html.NameFor(m => m.Password)']", "#ChangePasswordModal").val(),
                "ConfirmPassword": $("input[name='@Html.NameFor(m => m.ConfirmPassword)']", "#ChangePasswordModal").val()
            }, function () {
                currentModal.modal("dispose");
            });
        });

        $("#ChangePasswordModal").on("hide.bs.modal", function (e) {
            if (locked) {
                e.preventDefault();
                e.stopImmediatePropagation();
                return false;
            }
        });

        $("#ChangePasswordModal").on("hidden.bs.modal", function () {
            $(this).modal("dispose");
        });

    @if (Model.HasPassword)
    {
        <text>
        $("input[name='@Html.NameFor(m => m.Password)']").trigger("keyup");
        </text>
    }
    })();
</script>
<style>
    li.pwd-restriction-checked {
        list-style-type: none;
    }

        li.pwd-restriction-checked:before {
            content: "\f058"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            color: green;
            margin-left: -1.3em; /* same as padding-left set on li */
            width: 1.3em; /* same as padding-left set on li */
        }
</style>